@import '../../../helpers/stylesheets/Base.scss';

.form {
    &__input {
        font-size: 1.5em;
        color: inherit;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        
        &--invalid {
            border-bottom: 3px solid $color-error;
        }

        &--invalid-label {
            color: $color-error;
        }

        &--valid-label {
            color: $color-success;
        }
        
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }
        
        &::-webkit-input-placeholder{
            color: $color-gray-dark-2;
        }
        
    }
}